<form class="container d-flex flex-column gap-2 mt-5" style="max-width: 640px;" [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.name.errors }">
        <div class="invalid-feedback">
            <div *ngIf="form.name.errors?.required">Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input id="description" type="text" formControlName="description" class="form-control">
    </div>
    <div class="form-group">
        <label for="posterUrl">Poster URL</label>
        <input id="posterUrl" type="url" formControlName="posterUrl" class="form-control">
    </div>
    <div class="d-flex gap-3">
        <div class="form-group flex-fill">
            <label for="durationHours">Hours</label>
            <select class="form-select" id="durationHours" formControlName="durationHours" [ngClass]="{ 'is-invalid': submitted && form.durationHours.errors }">
                <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
            </select>
            <div class="invalid-feedback">
                <div *ngIf="form.durationHours.errors?.required">Hours is required</div>
            </div>
        </div>
        <div class="form-group flex-fill">
            <label for="durationMinutes">Minutes</label>
            <select class="form-select" id="durationMinutes" formControlName="durationMinutes" [ngClass]="{ 'is-invalid': submitted && form.durationMinutes.errors }">
                <option *ngFor="let minute of minutes" [value]="minute">{{minute}}</option>
            </select>
            <div class="invalid-feedback">
                <div *ngIf="form.durationHours.errors?.required">Hours is required</div>
            </div>
        </div>
    </div>
    <div class="form-group d-grid mt-2">
        <button type="submit" class="btn btn-primary">{{!!this.id ? 'Modify' : 'Add'}}</button>
    </div>
</form>