<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex px-3 gap-2 fixed-top">
    <a class="navbar-brand" [routerLink]="['/']">Fake Cinema</a>
    <ul class="navbar-nav">
      <li *ngIf="user?.role === 'Admin'" class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/viewings']">Viewings</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/movies']">Movies</a>
      </li>
    </ul>
    <div class="flex-fill"></div>
    <div *ngIf="!!user; else notSignedIn">
      <a *ngIf="user.role === 'User'" class="btn btn-primary" [routerLink]="['/user/reservations']">My Reservations</a>
      <a class="btn btn-primary mx-2" style="width: 86px;" [routerLink]="['/user/profile']">Profile</a>
      <a class="btn btn-danger" style="width: 86px;" (click)="signOut()">Sign out</a>
    </div>
    <ng-template #notSignedIn>
      <a class="btn btn-success" style="width: 86px;" [routerLink]="['/user/sign-in']">Sign in</a>
      <a class="btn btn-primary" style="width: 86px;" [routerLink]="['/user/sign-up']">Sign up</a>
    </ng-template>
  </nav>
</header>
