.content-container {
  margin: 32px auto;
  height: calc(100% - 64px);
  max-width: 720px;
  display: flex;
  flex-direction: column;
}

.form-container {
  max-width: 720px;
  gap: 0.5rem;
}

html, body { min-height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
