<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex px-3 gap-2 fixed-top">
    <a class="navbar-brand" [routerLink]="['/']">Cinema</a>
    <ul class="navbar-nav flex-fill">
      <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/viewings']">Viewings</a>
      </li>
    </ul>
    <a class="btn btn-primary" [routerLink]="['/sign-in']">Sign in</a>
    <a class="btn btn-primary" [routerLink]="['/sign-up']">Sign up</a>
  </nav>
</header>
